.navigation {
  padding-left: 0;
  padding-right: 0;
}

.navigation__logo {
  font-size: 24px;
}

.navigation__button-secondary {
  border-radius: 0;
}

.button-main {
  background-color: coral;
  border-color: coral;
}

.button-main:hover,
.button-main:focus,
.button-main:visited,
.button-main:focus-within {
  background-color: #ea5b26;
  border-color: #ea5b26;
}

.section {
  padding-top: 40px;
}

.section__title {
  padding-bottom: 20px;
}

.section__subtitle {
  padding-bottom: 20px;
}

.section-one {
  background-color: #343a40;
}

.card {
  border: none;
  background-color: transparent;
  padding-bottom: 40px;
}

.footer {
  background-color: #343a40;
  padding-top: 40px;
  padding-bottom: 10px;
}

.footer__copyright {
  padding-top: 20px;
}

.footer__button,
.footer__input {
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 10px;
}

@media screen and (max-width: 992px) {
  .header__content {
    padding-bottom: 60px;
  }
}
