$bgColor: #ffffff;
$bgImage: url(../img/m-h-day.jpg);
$fontColorMain: #2D2F3C;
$bgFooterAndCards: #3B3F50;
$fontLogo: 'Hind';
$buttonColor:  #699900;
$highlightColor: #12A0C7;
$gradient1Color: #629119;
$gradient2Color: #315FCA;