$bgColor: #21232E;
$bgImage: url(../img/m-h-night.jpg); 
$fontColorMain: #ffffff;
$bgFooterAndCards: #3B3F50;
$fontLogo: 'Fresca';
$buttonColor: #E3AC02;
$highlightColor: #FF4F33;
$gradient1Color: #D99E0A;
$gradient2Color: #99374B;